body {
    & .wrapper {
        & .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition-main);
            overflow-y: hidden;
            overflow-y: auto;
            background-color: var(--color-popup);
            color: var(--color-black);
            & .popup-body {
                cursor: pointer;
                width: 100%;
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: var(--padding-40px);
                & .popup-content {
                    & .popup-close__icon {
                        max-width: 28px;
                        min-width: 28px;
                        width: 100%;
                        height: 28px;
                        position: absolute;
                        z-index: 2;
                        right: var(--margin-36px);
                        top: var(--margin-36px);
                        cursor: pointer;
                        &::after, &::before {
                            content: '';
                            width: 100%;
                            height: var(--border-2px);
                            background-color: var(--color-black);
                            position: absolute;
                            left: 0;
                            top: calc(50% - 1px);
                        }
                        &::after {
                            transform: rotate(45deg);
                        }
                        &::before {
                            transform: rotate(-45deg);
            
                        }
                    }
                }
            }
            &._open {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
@media(max-width: 1500px) {
}
@media(max-width: 1070px) {
}
@media(max-width: 540px) {
}